header{
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: darkslateblue;
    border: 2px solid black;
}

img.header{
    height: 80%;
    border-radius: 1vw;
}

a.header{
    color: #fff;
    background-color: transparent;
    border: 0.1vh solid #fff;
    border-radius: 1vh;
    padding: 0.5vh 1vw;
    transition: all 0.3s ease-in-out;
    font-size: 2vh;
}

h1.header{
    color: black;
    background-color: transparent;
    padding: 0.5vh 1vw;
    font-size: 5vh;
}

.header {
    margin: 1vw 1vw;
    padding: 0 1vw;
    text-decoration: none;
    font-weight: 1000;
    transition: all 0.3s ease-in-out;
    letter-spacing: 0.05vw;
}

a:hover{
    color: #fff;
    background-color: #000;
    border-radius: 1vh;
}