.jeux{
    width: 100vw;
}

h1{
    text-decoration: underline;
    text-align: center;
}

.swiper, .swiper-wrapper{
    width: 100vw;
    height: 18vw;
}

.swiperslide img{
    width: 5vw;
}

.swiper-slide{
    height: 15vw !important;
    margin: 0 0;
    padding: 1vw;

    display: flex !important;
    justify-content: center;
    align-items: center;

    background-color: lightgrey;
    border-radius: 1vw;
    text-align: center;
    &:hover{
        box-shadow: 0.1vw 0.1vw 0.1vw grey;
    }
}